In [1]:
import numpy as np
import pandas as pd
df=df = pd.read_excel (r'C:\Users\regent\Desktop\areej_029\COVID_FINAL_DATA.xlsx')# to get the datset
df.head() # loading datset

,Unnamed: 0,Cumulative,Cumulative Test positive,Cumulative tests performed,Date,Discharged,Expired,Home Quarantine,New (last 24 hrs),Region,Still admitted,Tests performed in last 24 hours
0,4,48,2,80,2020-03-11 00:00:00,0,0,NaN,3,ICT,2,8
1,5,61,0,95,2020-03-11 00:00:00,0,0,NaN,6,Punjab,0,7
2,6,84,14,171,2020-03-11 00:00:00,1,0,NaN,1,Sindh,13,55
3,7,20,0,28,2020-03-11 00:00:00,0,0,NaN,0,KP,0,2
4,8,3,0,0,2020-03-11 00:00:00,0,0,NaN,0,KPTD,0,0

In [2]:
df.isnull().any() # to check which column has null values

Unnamed: 0                           False
Cumulative                           False
Cumulative  Test positive            False
Cumulative  tests performed          False
Date                                 False
Discharged                           False
Expired                              False
Home Quarantine                       True
New  (last 24 hrs)                   False
Region                               False
Still admitted                       False
Tests  performed in last 24 hours    False
dtype: bool

In [3]:
df.isnull().sum()# to check how many null values are in each column

Unnamed: 0                             0
Cumulative                             0
Cumulative  Test positive              0
Cumulative  tests performed            0
Date                                   0
Discharged                             0
Expired                                0
Home Quarantine                      139
New  (last 24 hrs)                     0
Region                                 0
Still admitted                         0
Tests  performed in last 24 hours      0
dtype: int64

In [4]:
df.isnull().values.any()

True

In [7]:
df2=df.copy() # replacing NAN with 0(IN COLUMN "HOME QURANTINE")
df3=df2.fillna(0)
df3

,Unnamed: 0,Cumulative,Cumulative Test positive,Cumulative tests performed,Date,Discharged,Expired,Home Quarantine,New (last 24 hrs),Region,Still admitted,Tests performed in last 24 hours
0,4,48,2,80,2020-03-11 00:00:00,0,0,0.0,3,ICT,2,8
1,5,61,0,95,2020-03-11 00:00:00,0,0,0.0,6,Punjab,0,7
2,6,84,14,171,2020-03-11 00:00:00,1,0,0.0,1,Sindh,13,55
3,7,20,0,28,2020-03-11 00:00:00,0,0,0.0,0,KP,0,2
4,8,3,0,0,2020-03-11 00:00:00,0,0,0.0,0,KPTD,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
358,8,3933,330,3647,2020-04-29 00:00:00,224,3,94.0,197,GB,9,132
359,9,9705,297,9705,2020-04-29 00:00:00,36,4,238.0,458,ICT,19,458
360,10,15540,2160,16549,2020-04-29 00:00:00,562,114,988.0,812,KP,496,812
361,11,47151,5827,77619,2020-04-29 00:00:00,1427,100,2581.0,2152,Punjab,1719,2548
362,13,48061,5291,48061,2020-04-29 00:00:00,963,92,2913.0,4112,Sindh,1323,4112

In [8]:
df3.isnull().values.any() # verify if we still have NAN values

False

In [16]:
print(df3) # datset is loaded,now we have no column that has NAN value

     Unnamed: 0  Cumulative  Cumulative  Test positive  \
0             4          48                          2
1             5          61                          0
2             6          84                         14
3             7          20                          0
4             8           3                          0
..          ...         ...                        ...
358           8        3933                        330
359           9        9705                        297
360          10       15540                       2160
361          11       47151                       5827
362          13       48061                       5291

     Cumulative  tests performed                 Date  Discharged  Expired  \
0                             80  2020-03-11 00:00:00           0        0
1                             95  2020-03-11 00:00:00           0        0
2                            171  2020-03-11 00:00:00           1        0
3                             28  2020-03-11 00:00:00           0        0
4                              0  2020-03-11 00:00:00           0        0
..                           ...                  ...         ...      ...
358                         3647  2020-04-29 00:00:00         224        3
359                         9705  2020-04-29 00:00:00          36        4
360                        16549  2020-04-29 00:00:00         562      114
361                        77619  2020-04-29 00:00:00        1427      100
362                        48061  2020-04-29 00:00:00         963       92

     Home Quarantine  New  (last 24 hrs)  Region  Still admitted  \
0                0.0                   3     ICT               2
1                0.0                   6  Punjab               0
2                0.0                   1   Sindh              13
3                0.0                   0      KP               0
4                0.0                   0    KPTD               0
..               ...                 ...     ...             ...
358             94.0                 197      GB               9
359            238.0                 458     ICT              19
360            988.0                 812      KP             496
361           2581.0                2152  Punjab            1719
362           2913.0                4112   Sindh            1323

    Tests  performed in last 24 hours
0                                   8
1                                   7
2                                  55
3                                   2
4                                   0
..                                ...
358                               132
359                               458
360                               812
361                              2548
362                              4112

[363 rows x 12 columns]

In [11]:
writer=pd.ExcelWriter('cleaned.xlsx')# SAVE cleaned dataset 
df3.to_excel(writer,'CORONA_CLEANED_DATASET')
writer.save()

     Unnamed: 0  Cumulative  Cumulative  Test positive  \
0             4          48                          2
1             5          61                          0
2             6          84                         14
3             7          20                          0
4             8           3                          0
..          ...         ...                        ...
358           8        3933                        330
359           9        9705                        297
360          10       15540                       2160
361          11       47151                       5827
362          13       48061                       5291

     Cumulative  tests performed                 Date  Discharged  Expired  \
0                             80  2020-03-11 00:00:00           0        0
1                             95  2020-03-11 00:00:00           0        0
2                            171  2020-03-11 00:00:00           1        0
3                             28  2020-03-11 00:00:00           0        0
4                              0  2020-03-11 00:00:00           0        0
..                           ...                  ...         ...      ...
358                         3647  2020-04-29 00:00:00         224        3
359                         9705  2020-04-29 00:00:00          36        4
360                        16549  2020-04-29 00:00:00         562      114
361                        77619  2020-04-29 00:00:00        1427      100
362                        48061  2020-04-29 00:00:00         963       92

     Home Quarantine  New  (last 24 hrs)  Region  Still admitted  \
0                0.0                   3     ICT               2
1                0.0                   6  Punjab               0
2                0.0                   1   Sindh              13
3                0.0                   0      KP               0
4                0.0                   0    KPTD               0
..               ...                 ...     ...             ...
358             94.0                 197      GB               9
359            238.0                 458     ICT              19
360            988.0                 812      KP             496
361           2581.0                2152  Punjab            1719
362           2913.0                4112   Sindh            1323

    Tests  performed in last 24 hours
0                                   8
1                                   7
2                                  55
3                                   2
4                                   0
..                                ...
358                               132
359                               458
360                               812
361                              2548
362                              4112

[363 rows x 12 columns]

In [21]:
print(df3)

     Unnamed: 0  Cumulative  Cumulative  Test positive  \
0             4          48                          2
1             5          61                          0
2             6          84                         14
3             7          20                          0
4             8           3                          0
..          ...         ...                        ...
358           8        3933                        330
359           9        9705                        297
360          10       15540                       2160
361          11       47151                       5827
362          13       48061                       5291

     Cumulative  tests performed                 Date  Discharged  Expired  \
0                             80  2020-03-11 00:00:00           0        0
1                             95  2020-03-11 00:00:00           0        0
2                            171  2020-03-11 00:00:00           1        0
3                             28  2020-03-11 00:00:00           0        0
4                              0  2020-03-11 00:00:00           0        0
..                           ...                  ...         ...      ...
358                         3647  2020-04-29 00:00:00         224        3
359                         9705  2020-04-29 00:00:00          36        4
360                        16549  2020-04-29 00:00:00         562      114
361                        77619  2020-04-29 00:00:00        1427      100
362                        48061  2020-04-29 00:00:00         963       92

     Home Quarantine  New  (last 24 hrs)  Region  Still admitted  \
0                0.0                   3     ICT               2
1                0.0                   6  Punjab               0
2                0.0                   1   Sindh              13
3                0.0                   0      KP               0
4                0.0                   0    KPTD               0
..               ...                 ...     ...             ...
358             94.0                 197      GB               9
359            238.0                 458     ICT              19
360            988.0                 812      KP             496
361           2581.0                2152  Punjab            1719
362           2913.0                4112   Sindh            1323

    Tests  performed in last 24 hours
0                                   8
1                                   7
2                                  55
3                                   2
4                                   0
..                                ...
358                               132
359                               458
360                               812
361                              2548
362                              4112

[363 rows x 12 columns]